.TodoForm{
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #0000000f;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}



input, select {
    padding: 15px;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid #ddd ;
    border-radius: 5px;
    width: 100%;
}

#create {
    margin-bottom: 20px;
}

.btn {
    padding: 6px;
}

@media screen and (max-width:320px) {
    .h1 {
        font-size: 22px;
    }
}
