button {
    background-color: #333974;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    transition: 1s;
}

button:hover {
    opacity: 1;
}

.complete {
    background-color: #5cb85c;
}

.remove {
    background-color: #d9534f;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.text {
    font-weight: 500;
}

.category {
    font-weight: bold;
}

.todo {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .todo {
        padding: 3px 2px;
    }
    button {
        padding: 1px;
        margin-right: 2px;
    }

    .complete {
        margin-right: 5px;
    }

    .text {
        font-size: 14px;
    }

    .category {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    button {
        padding: 2px;
        font-size: 10px;
    }
    .todo {
        padding: 1px;
    }
    .text {
        font-size: 12px;
    }
    .category {
        font-size: 13px;
    }
}
