h2 {
    text-align: center;
    margin-top: 50px;
}
.input {
    padding: 15px;
    border-radius: 10px;
    outline: none;
}

.button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
